/* src/components/Footer/Footer.css */

footer {
  background: var(--dark-color);
  color: white;
  padding: 20px;
  text-align: center;
}

footer .social-icons a {
  margin: 0 10px;
  color: var(--secondary-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: var(--primary-color);
}
